//output: ../../../../lib/communication/message/club/HLLYsender.html
doctype html
html(lang="zh")
	head
		title 翰林旅院短信发送
	body
		div.container
			div.header
			div.intro 注意：点击按钮之后，不要重复点击发送按钮，否则产生会产生额外费用！
			form
				textarea
				button(type=submit) 发送
			div
		script(src='../../js/angular.min.js')
		script(src='../../js/sender.js')
