//output: ../../../../lib/communication/message/club/sender.html
doctype html
html(lang="zh")
	head
		title 短信群发
		meta(http-equiv='X-UA-Compatible' content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel='stylesheet' type='text/css' href='../../css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='../../css/bootstrap-theme.min.css')
		link(rel='stylesheet' type='text/css' href='../../css/message.css')
	body(ng-app='sender' ng-cloak)
		div.container(ng-controller='SenderController as vm' ng-init="vm.setClub('Hanlin')" )
			div#header
				h1 {{vm.club.clubName}}短信群发
			ul.nav.nav-tabs(ng-init="currentTab=1")
				li(ng-class="{'active':currentTab==1}")
					a(ng-click='currentTab=1') 新短信
				li(ng-class="{'active':currentTab==2}")
					a(ng-click='currentTab=2') 发送记录

			div#newMessage(ng-show='currentTab==1')
				div.alert.alert-warning
					p.intro 注意：每一条短信都会
						strong 产生费用！
						|请认真阅读每一步操作的提示，谨慎操作！	
				form
					div.form-group
						label.textareaTip 编辑短信内容 
						p.badge(ng-show='vm.content.length>0') {{vm.content.length}}个字，共分{{vm.content.length|toMessageNumber}}条短信发送
					div.form-group
						textarea.form-control(rows=5,ng-model='vm.content')
					button.btn.btn-primary(type=button,ng-click='vm.sendMessage()',ng-disabled='!vm.content.length') 发送
				div

			div#history(ng-show='currentTab==2')
				h1 群发历史记录
				table
					tr
						th 发送时间
						th 发送内容
						th 发送人数
					tr(ng-repeat='historyitem in vm.sentHistory')
						th historyitem.sendTime
						td historyitem.content
						td historyitem.memberCount
		script(src='../../js/angular.min.js')
		script(src='../../js/jquery.min.js')
		script(src='../../js/sender.js')
