//output: ../../lib/test/index.html

doctype html
html(lang="zh" ng-app='test' ng-cloak)
	head
		title 互动环节
		meta(charset="UTF-8")
		meta(http-equiv='X-UA-Compatible' content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="apple-mobile-web-app-status-bar-style" content='black')
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="shortcut icon" href="./images/ico.png")
		link(rel='stylesheet' type='text/css' href='./bootstrap/dist/css/bootstrap.min.css')
		//link(rel='stylesheet' type='text/css' href='./css/common.css')
		script(type='text/javascript' src="./js/touch.js")
		//link(rel='stylesheet' type='text/css' href='./css/animate.min.css')
		script(type='text/javascript' src="./js/angular.min.js")
		link(rel='stylesheet' type='text/css' href='./css/app.css')



	body(ontouchstart ng-controller='testController as vm')
		div.container
			div.row.bannerContainer
				img.nosee( src='./images/cover.jpg')
				img(width='100%' src='./images/title.svg')
			div.row.titleContainer
				h2.tit 互动环节
				p 共4道选择题，快测测你对癌症的了解程度吧！
				i.glyphicon.glyphicon-star
				i.glyphicon.glyphicon-star
				i.glyphicon.glyphicon-star

			div#questions.row.questions(ng-show='vm.questionMode')
				div.container(ng-repeat='(questionID,question) in vm.questions' ng-show='vm.currentQuestionID==questionID')
					div.row.questionsContainer
						div.questionTitle
							h2 第 {{questionID}} 题 
							h3 {{question.title}}
							div.questionImgDiv(align='center')
								p.center
									img.img-responsive.questionImg(ng-src="{{question.img}}")
					div.row.scrollDiv

					div.row.toolbar.text-center
						div.container
							div.row(ng-show="vm.answerMode")
								a.btn.btn-primary.btn-lg.btn-long(ng-click="vm.returnToQuestion()" href="#questions") 返回重新答题
							div.row(ng-hide="question.start")
								a.btn.btn-primary.btn-lg.btn-long(ng-click="vm.setStartState(questionID)" href="#questions") 选择答案
							div.row.optionsContainer(ng-show="question.start")
								h4 请选择答案
								div.option(ng-repeat="(key,item) in question.options" )
									button.btn.btn-default.btn-lg.btn-long(ng-click="vm.setQuestionWithChosen(questionID,key)" ng-class="{'btn-success':question.chosen==key&&key==question.answer,'btn-danger':question.chosen==key&&key!=question.answer}") {{key}} {{item}}
							div.row(ng-show="question.start")
								div
									button.btn.btn-default.btn-success.btn-lg.btn-half(type=button ng-disabled='!question.previous' ng-click="vm.showPreviousQuestion(questionID)" ng-show='question.previous') 
										i.glyphicon.glyphicon-arrow-left 
										上一题
									button.btn.btn-default.btn-success.btn-lg.btn-half(type=button ng-disabled='!question.right||!question.next' ng-show='question.next' ng-click='vm.showNextQuestion(questionID)') 
										下一题 
										i.glyphicon.glyphicon-arrow-right
									a.btn.btn-default.btn-primary.btn-lg.btn-half(type=button  ng-hide='question.next' ng-click='vm.end()' href='#answers') 
										结束看答案 
										i.glyphicon.glyphicon-arrow-right

			div.row.text-center#answers(ng-show='vm.answerMode') 
				div.container
					div.row
						h2.finished 您已经答对了所有的题!
					div.row(ng-repeat='(questionID,question) in vm.questions')
						img.img-responsive(ng-src='{{question.img}}')
						h2 {{vm.options[question.answer]}}
					div.row.scrollDiv

			div.row.toolbar.text-center(ng-show="vm.answerMode")
				a.btn.btn-primary.btn-lg.btn-long(ng-click="vm.returnToQuestion()" href="#questions") 返回重新答题

			div.row.tip(ng-show="vm.wrong")
				div.alert.alert-danger 不是这个答案，请选择其他选项
		script(type="text/javascript" src='./js/app.js')
