//output:../../../lib/prize/oldMonitors/index.html
doctype html
html(lang='zh')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title 抽奖环节
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='shortcut icon', href='./icon.png')
    link(rel='stylesheet', type='text/css', href='./bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./animate.min.css')
    link(rel='stylesheet', type='text/css', href='./odometer-theme-train-station.css')
    link(rel='stylesheet', type='text/css', href='./main.css')
    
  body
    .container.bounceIn.animated
      #title
        img(src='./logo.png')
      #dashboard
        #numbers 
        #result
      #buttons
        button#start.btn.btn-success.btn-lg.btn-block(type='button')
          i.glyphicon.glyphicon-star.mr15
          | 开始
        button.stop.btn.btn-danger.btn-lg(type='button' counts='20')
          i.glyphicon.glyphicon-gift.mr15
          | 抽20名
        button.stop.btn.btn-danger.btn-lg(type='button' counts='10')
          i.glyphicon.glyphicon-gift.mr15
          | 抽10名  
        button.stop.btn.btn-danger.btn-lg(type='button' counts='5')
          i.glyphicon.glyphicon-gift.mr15
          | 抽5名 
        button.stop.btn.btn-danger.btn-lg(type='button' counts='1')
          i.glyphicon.glyphicon-gift.mr15
          | 抽1名
      #waiting
        
      #luckers.panel.panel-success
        .panel-heading
          h3.panel-title 上轮中奖号码
        .panel-body
          
    #particles-js
    script(type='text/javascript' src='lodash.min.js')
    script(type='text/javascript', src='./particles.min.js')
    script(type='text/javascript', src='./snow.js')
    script(type='text/javascript' src='jquery.min.js')
    script(type='text/javascript', src='./odometer.js')
    script(type='text/javascript' src='main.js')

    
