//output: ../../lib/activity/register.html
doctype html
html(lang="zh")
	head
		title 流量红包大派送
		meta(charset="UTF-8")
		meta(http-equiv='X-UA-Compatible' content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/reset.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/container.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/grid.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/header.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/icon.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/image.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/segment.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/form.min.css')
		link(rel='stylesheet' type='text/css' href='./semantic-ui/dist/components/button.min.css')
		link(rel='stylesheet' type='text/css' href='./css/register.css')
		link(rel='stylesheet' type='text/css' href='./css/animate.min.css')
		script(type='text/javascript' src="./js/angular.min.js")

	body(ng-app="register" ng-controller="registerController as vm")
		.context-wrapper
			#topIntro.ui.inverted.blue.vertical.masthead.center.aligned.segment 
				#intro.ui.text.container
					img.title(src="./img/title.svg")
					h1.animatedText
						i.gift.icon
						span#titleText 飞扬流量红包大派送
			#middleIntro.ui.vetical.stripe.segment.hide
				.ui.middle.aligend.stackable.grid.container
					.row
						.eight.wide.column.center.aligned
							h3#text.ui.header 输入您的手机号码办理登记

					#input.row.ui.form
						.eight.wide.column.center.aligned
							input(name='cellphone' type='number' ng-model="vm.cellphone" placeholder='请输入手机号' required cellphone)
					#button.row
						.eight.wide.column.center.aligned
							button.ui.primary.button 
								span#buttonText 我要领50M流量
								i.arrow.right.icon
					.row
						.eight.wide.column.center.aligned
							h3#textSuccess.ui.header 您已成功办理飞扬旅游流量红包活动，流量将在2个工作日内到账
		script(type='text/javascript' src="./js/jquery.min.js")
		script(type='text/javascript' src="./js/jquery.lettering-0.6.1.min.js")
		script(type='text/javascript' src="./js/textillate/jquery.textillate.js")
		script(type='text/javascript' src="./js/register.js")
		script(type='text/javascript' src="./js/directive.js")
