//out: ../../../lib/activity/css/register.css, sourcemap: true, compress: true, libs: axis

body
  font-size: 1.5em

#bottomIntro
  background-color: #39cccc
  padding:10px
  color:white
  width:100%
  position:fixed
  bottom:0


#join
  padding-top:50px
  padding-bottom: 100px
  margin-bottom:100px

#topIntro
  background-color: #8ebf26
  background-repeat: no-repeat
  background-image: url('../img/bg.png')
  background-size: 100%
  background-position: bottom
#intro
  padding-top:70px

  text-align: center
  padding-bottom:100px
  h2
    background-color: red
    padding:0.2em
    font-size:1.5em
    color:white
    opacity: 0.9
  img
    width:100%

button.button
  width:100%
  font-size:1.5em
  padding:0.3em

#successIcon
  color:#39CCCC

#successIcon
#successText
  display:none

#submit
  position:relative
  width:100%
  margin-top:200px
  background-color: white
  height:200px
  display: block

#joined
.introduction
#successText
  text-align: center
