//out: ../../../lib/activity/css/register.css, sourcemap: true, compress: true, libs: axis
.ui.segment
  box-shadow: none
  border:none
  border-radius: none

#topIntro
  background-color: #8ebf26
  background-repeat: no-repeat
  background-image: url('../img/bg.png')
  background-size: 100%
  background-position: bottom
#intro
  padding-top:70px
  text-align: center
  padding-bottom:100px
  h1
    background-color: red
    padding:0.1em
    font-size:1.3em
    color:white
    opacity: 0.9
  img
    width:100%
#titleText
#middleIntro
#textSuccess
  display:none
#submit
  position:relative
  width:100%
  margin-top:200px
  background-color: white
  height:200px
  display: block
